[flake8]
max-line-length = 120
mypy_config = mypy.ini
# See here https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length
# for an explanation of why these are ignored, largely to be compatible with black
# autoformatter.
ignore = E203, E266, E501, W503
